@model BoadaDana_LigaPro.Models.Equipo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartidosJugados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartidosJugados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartidosGanados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartidosGanados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartidosEmpatados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartidosEmpatados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartidosPerdidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartidosPerdidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puntos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puntos)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="List">Back to List</a>
    </form>
</div>
